<header>
	<h3>New Comments</h3>
</header>

<%= simple_form_for [stub, comment] do |f| %>
	<%= f.input :text %>
	<% if policy(stub).change_state? %>
		<%= f.association :state %>
	<% end %>
	<%= f.submit class: "btn btn-primary" %>
<% end %>