<div class="tag">
	<% if policy(stub).tag? %>
		<%= link_to "<span>X</span>".html_safe, remove_stub_tag_path(stub, tag), method: :delete, remote: true, class: "remove", title: "remove" %>
	<% end %>
	<%= link_to tag.name, search_project_stubs_path(stub.project, search: "tag:#{tag.name}") %>
</div>